<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./index.css" />
    <title>Vue Learning</title>
  </head>
  <body>
    <div id="app">
      <button @click="show">show/hide</button>
      <p v-if="visibility">I'm a part time visible</p>
      <p v-else="visibility">Am i visible?</p>
      <p>Visibility: {{visibility}}</p>
      <hr />
      <ul>
        <li v-for="(him, index) in persons">
          {{him.name}} with the index of {{index}}
        </li>
      </ul>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
